:root {
  /* Color Palette */
  --dark-bg: #111317;
  --light-bg: rgba(255, 255, 255, 0.7);
  --primary-accent: #76BA9D;
  --secondary-accent: #76B5BA;
  --glow-color: rgba(118, 186, 157, 0.5);
  --secondary-glow-color: rgba(118, 181, 186, 0.4);
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(255, 255, 255, 0.1);
  --dark-text: #EAEAEA;
  --light-text: #1a202c;
  --card-bg: #1a1c20;

  /* Typography */
  --font-heading: 'Orbitron', sans-serif;
  --font-body: 'Poppins', sans-serif;

  /* Base Theme - Dark Mode */
  --bg-color: var(--dark-bg);
  --text-color: var(--dark-text);
  --header-bg: rgba(17, 19, 23, 0.8);
}

/* Light Mode Overrides */
body.light-mode {
  --bg-color: var(--light-bg);
  --text-color: var(--light-text);
  /* --card-bg: rgba(240, 242, 213, 0.8); */
  --card-bg: #F7F7F7;
  --glass-bg: rgba(0, 0, 0, 0.05);
  --glass-border: rgba(0, 0, 0, 0.1);
  --header-bg: rgba(255, 255, 255, 0.7);
}